{% extends 'base.html' %}

{% block title %}
Тест на знание Python
{% endblock %}

{% block body %}
<div class="questionnaire">
        <h1>Тест на знание Python</h1>
        <form method="post">
            <div class="form-group">
                <label>1) Как вывести на экран число 1?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_1" id="question_1_1" value="1" checked>
                  <label class="form-check-label" for="question_1_1">
                    print(1)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_1" id="question_1_2" value="2">
                  <label class="form-check-label" for="question_1_2">
                    input(1)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_1" id="question_1_3" value="3">
                  <label class="form-check-label" for="question_1_3">
                    int(input(1))
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label>2) Как ввести число с клавиатуры?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_2" id="question_2_1" value="1" checked>
                  <label class="form-check-label" for="question_2_1">
                    read()
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_2" id="question_2_2" value="2">
                  <label class="form-check-label" for="question_2_2">
                    int(input())
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_2" id="question_2_3" value="3">
                  <label class="form-check-label" for="question_2_3">
                    print()
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label>3) Что делает эта строка a += 1?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_3" id="question_3_1" value="1" checked>
                  <label class="form-check-label" for="question_3_1">
                    Присвает значение 1 переменной "a"
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_3" id="question_3_2" value="2">
                  <label class="form-check-label" for="question_3_2">
                    Увеливает значение переменной "a" на 1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_3" id="question_3_3" value="3">
                  <label class="form-check-label" for="question_3_3">
                    Умножает переменную "a" на 1
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label>4) Как создать функцию "getValue"?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_4" id="question_4_1" value="1" checked>
                  <label class="form-check-label" for="question_4_1">
                    class getValue:
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_4" id="question_4_2" value="2">
                  <label class="form-check-label" for="question_4_2">
                    getValue()
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_4" id="question_4_3" value="3">
                  <label class="form-check-label" for="question_4_3">
                    def getValue():
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label>5)Как вернуть значение "result" из функции?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_5" id="question_5_1" value="1" checked>
                  <label class="form-check-label" for="question_5_1">
                    global result
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_5" id="question_5_2" value="2">
                  <label class="form-check-label" for="question_5_2">
                    print(result)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_5" id="question_5_3" value="3">
                  <label class="form-check-label" for="question_5_3">
                    return result
                  </label>
                </div>
            </div>

            <div class="form-group">
                <label>6) Как добавить значение переменной "object" в список "data"?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_6" id="question_6_1" value="1" checked>
                  <label class="form-check-label" for="question_6_1">
                    data.append(object)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_6" id="question_6_2" value="2">
                  <label class="form-check-label" for="question_6_2">
                    data += object
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_6" id="question_6_3" value="3">
                  <label class="form-check-label" for="question_6_3">
                    data = object
                  </label>
                </div>
            </div>

	    <div class="form-group">
                <label>7) Как открыть файл с картинкой в Python?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_7" id="question_7_1" value="1" checked>
                  <label class="form-check-label" for="question_7_1">
                    open('image.jpg', mode='r')
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_7" id="question_7_2" value="2">
                  <label class="form-check-label" for="question_7_2">
                    open('image.jpg', mode='rb')
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_7" id="question_7_3" value="3">
                  <label class="form-check-label" for="question_7_3">
                    open('image.jpg', mode='r', encoding='utf-8')
                  </label>
                </div>
            </div>

            <input type="email" class="form-control" id="email" placeholder="Введите адрес почты" name="email">
            <br>
            <input type="submit" class="btn btn-success" value="Завершить">
        </form>
{% endblock %}